*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****Header****/
header{
    position: relative;
    border-bottom: 2px solid black;
    width: 100%;
    height: auto;
    background-image: url(../imagenes/seccion_Plantas/fondoHeader3.png);
    background-size: 20%;
    background-position: left bottom;
    background-repeat: repeat-x;
    box-shadow: 0px 25px 50px 5px rgb(0, 255, 13, 0.5);
    margin-bottom: 90px
}
.blurHeader {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
/***********************************************************************************************************************************/
/*******Menu Hamburguesa*******/
#check:not(:checked) ~ ul{
    display: block;
    left: -2150px;
    transition: all .5s;
}
#check:checked ~ #checkbtn{
    background-color: rgb(0, 255, 13, 0.247);
}
#check{
    display: none;
}
#checkbtn{
    font-size: 30px;
    color: black;
    margin-left: 30px;
    display: block;

    text-align: center;
    position: relative;
    top: 20px;
    padding-top: 8px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
#checkbtn:hover{
    background-color: rgb(0, 255, 13, 0.247);
}
#check:checked ~ ul{
    display: block;
    left: 0;
    transition: all .3s;
}
nav{
    width: 50px;
    transition: all .5s;
}
nav > ul{
    display: none;
    position: absolute;
    border: 1px solid black;
    box-shadow: 5px 10px 2px 7px rgba(0, 255, 34, 0.2);
    transition: all .5s;
    margin-top: 25px;    
    z-index: 2;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.938);
}
nav > ul li{
    text-align: center;
    margin-bottom: 10px;
}
/*Texto menu general*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 3px;
}
nav ul li ul li:hover{
    background-color: rgba(0, 255, 13, 0.479);
}
/*Texto menu titulos*/
.titulo{
    font-size: 30px;
    font-weight: bold;
}
#actual{
    background-color: rgb(0, 255, 13);
}
#logo{
    position: absolute;
    height: auto;
    width: 120px;
    border-radius: 10%;
    left: 150px;
    top: 10px;
}
#logo:hover{
    box-shadow: 0 0 15px #000000;
}
#registroImagen{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: auto;

    border-radius: 50%;
}
#compraImagen{
    position: absolute;
    right: 70px;
    top: 5px;
    width: 50px;
    height: auto;

    border-radius: 50%;
}
#compraImagen:hover{
    box-shadow: 0 0 15px #000000;
}
#registroImagen:hover{
    box-shadow: 0 0 15px #000000;
}

/**Texto Mostrando**/
header div{
    margin-top: 30px;
    margin-bottom: 100px;
}
header div h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
#enlacesHeader{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
#enlacesHeader a:hover{
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
header div a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
header div a:hover{
    font-weight: bold;
}

/*****************MAIN****************/
main{
    margin-top: 50px;
}
main h2{
    column-span: all;
    font-size: 4vw;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 1vw;
    border-bottom: 3px solid black;
}
/*SECCIONES DE PRODUCTOS POR FILAS*/
main section{
    columns: 100px 3;
    column-gap: 50px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #ddd;

    object-fit: cover;
}
main section ul{
    list-style: none;
}
main section ul li{
    border: 1px solid rgba(59, 59, 59, 0.5);
    box-shadow: 0 0 15px #ddd;
    position: relative;

    background-image: url(/PaginaWeb/imagenes/seccion_Plantas/fondoProducto2.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 85%;
    width: 90%;
    z-index: 1;
    margin-bottom: 5%;  
    margin-left: 5%; 

}
.blur {
    background: rgba(48, 48, 48, 0.1);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.productoImg{
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
    
    border-radius: 5%;
    box-shadow: 0 0 50px #ddd;
}
.informacionProducto{
    border-radius: 5%;
    background-color: #ddd;
    box-shadow: 0 0 20px #ddd;
    border: 2px solid black;

    width: 60%;
    height: auto;
    position: relative;

    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.informacionProducto h3{
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 5%;
}
.informacionProducto p{
    font-size: 1.5vw;
    width: 94%;

    margin-top: 3%;
    margin-bottom: 5px;
    margin-left: 3%;
    border-bottom: 1px dashed black;

}
.informacionProducto a img{
    position: relative;
    margin-left: 80%;

    height: auto;
    width: 15%;
}
.informacionProducto a:hover img{
    border-radius: 50%;
    box-shadow: 0 0 15px #000000;
}

/**********OTRAS CATEGORÃAS****************/
#otrasCategorias{
    columns: 100px 3;
    column-gap: 20px;
    width: 90%;
    margin-left: 5%;
    height: auto;
    position: relative;

}
#otrasCategorias article{
    box-shadow: 0 0 15px #272727;

}
.imgCategorias{
    width: 20vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    
    margin-top: 10%;
    margin-left: 15%;
    
    border-radius: 5%;
    box-shadow: 0 0 15px #000000;
}
#otrasCategorias article a{
    text-decoration: none;
}
#otrasCategorias article a p{   
    font-size: 2vw;
    font-weight: bold;
    color: black;
    margin-top: 5%;
    margin-left: 15%;
}
#otrasCategorias article a h4{   
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    margin-left: 15%;
    margin-bottom: 2%;
}
#otrasCategorias article a:hover{
    text-decoration: underline;
    text-decoration-color: #000000;
}
.flechaImg{   
    margin-left: 15%;
    margin-bottom: 2%;
}

/*************FOOTER**************/

footer{
    position: relative;
    background-color: #e9e9e9;
    
    margin-top: 3%;
    width: 100%;
    height: 200px;
}
footer div{
    width: 90%;
    height: auto;
    margin-left: 6.5%;
}
footer article{
    width: 30%;
    height: 170px;
    text-align: center;
    float: left;
    margin-right: 3%;
}
footer article h5{
    margin-top: 1.5%;
    margin-bottom: 2%;
    font-size: 2vw;
}
footer article p, a{
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
}
footer article a{
    font-weight: bold;
}
footer article a:hover{
    text-decoration: underline;
    color: #14a39c;
}
footer article ul{
    list-style: none;
}

/*REDES*/
#redes li img{
    width: 7%;
    height: 7%;
}
#redes li img:hover{
    box-shadow: 0 0 15px #000000;
}
#redes ul li{
    display: inline;
    margin-left: 3%;
    margin-right: 8%;
}

/*CopyRight*/
footer > p{
    position: absolute;
    font-size: 1vw;
    width: 20%;
    height: 20px;
    bottom: 10px;
    left: 10px;
}

